/* General */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: white;
}

/* Navbar Layout*/
.navbar { 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    background-color: black; 
    color: white; 
    padding: 10px 20px; 
    box-sizing: border-box; 
    display: flex; 
    justify-content: 
    space-between; 
    align-items: 
    center; z-index: 1000; 
} 

.nav-items { 
    display: flex; 
    gap: 25px; 
    margin: 0; 
    padding: 0; 
    list-style: none; 
} 

.nav-items a { 
    color: white; 
    text-decoration: none; 
    padding: 5px 10px; 
    transition: color 0.3s; 
} 
.nav-items a:hover { 
    color: blue; 
} 

.logo { 
    font-size: 24px; 
    font-weight: bold; 
}

/* Home section */
.home-section {
    display: flex;
    justify-content: center;
    padding-top: 70px;
}

.home-container {
    width: 90%;
    max-width: 1000px;
}

.home-title {
    font-size: 20px;
    margin-bottom: 15px;
    padding-left: 5px;
}

.content-box {
    position: relative;
    width: 100%;
    height: 220px;
    border-radius: 15px;
    overflow: hidden;
}

.bg-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 1px 1px 3px black;
    text-align: center;
}

.text-overlay h1, .text-overlay h3 {
    margin: 0 0 5px 0;
}

.text-overlay p {
    margin: 0;
    font-size: 14px;
}

.highlight-text {
    color: cyan;
    font-size: 30px;
    font-weight: bold;
}

/* Collection section */
.collection-section {
    padding: 50px 0; 
    background-color: #f5f5f5;
    display: flex; 
    justify-content: center;
}

.collection-wrapper {
    width: 90%;
    max-width: 1000px; 
}

.collection-title {
    font-size: 20px;
    margin-bottom: 15px;
    padding-left: 5px; 
    text-align: left;
}


.collection-container {
    width: 100%; 
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 10px;
}

.collection-container .content-box {
    width: 100%;
    height: 220px; 
    position: relative;
    border-radius: 15px; 
    overflow: hidden;
}

.collection-container .content-box .bg-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.collection-container .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 1px 1px 3px black;
    text-align: center;
}

.collection-container .text-overlay h3 {
    margin: 0;
    font-size: 16px;
}
